html{
    height:100%;
}

body {
    background:url('/media/background_img.jpg');
    position:center;
    background-size: cover;
    color: black;
    width: 100vw;
    height:
}

.navbar-logo{
    width:270px;
}